body {
  background-color: black;
  margin: 0;
  height: 2000px;
}

.watch-now-section{
  padding-top: 60px;
  height: 591px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

.watch-now-background{
  width: 1903px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}

.watch-now-img{
  position: absolute;
  height: 500px;
  z-index: 2;
  top: 100px;
  left: 700px;
  border-radius: 5px;
}

.watch-now-href{
  position: absolute;
  top: 500px;
  left: 800px;
  z-index: 3;
}

.watch-now-button{
  background-color: orange;
  color: white;
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  padding: 15px 15px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
  
}

.watch-now-button:hover{
  background-color: white;
  color: orange;
}

.bottom-section{
  background-color: black;
  display: flex;
  flex-direction: column;  /* Stack elements vertically */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 200px;
}

.bottom-text{
  color: white;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 25px;
}

.view-all-button{
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  background-color: orange;
  border: none;
  padding: 15px 60px 15px 60px;
  cursor: pointer;
  transition: padding 0.15s;
}

.view-all-button:hover{
  padding: 13px 50px 13px 50px;
}
