body{
  margin: 0;
  background-color: black;
  height: 2000px;
}

.header-decoration{
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, #2ABDBB 39.17%, #FABB18 49.18%, #F47521 67.12%);
  position: fixed;
  top: 60px;
}

.top-link{
  padding-top: 80px;
  display: flex;
  justify-content: center; /*Horizontal*/
  align-items: center; /*Vertical*/
}

.top-link img{
  width: 1152px;
  height: 77px;
}

.news-container{
  display:flex;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

.news-grid{
  display: grid;
  grid-template-columns: 25% auto 25%;

  width: 1153px;
}

@media(max-width: 992px){
  .news-grid{
    display: block;
  }
}


.latest-container{
  padding-right: 12px;
}

.spotlight-container{
  border-right: solid 1px rgb(74, 78, 88);
  border-left: solid 1px rgb(74, 78, 88);
  padding-right: 12px;
  padding-left: 12px;
}


.features-container{
  padding-left: 12px;
}

.latest-feature-title{
  color: #FFFFFF;
  font-family: Lato;
  font-weight: 400;
  font-size: 32px;
  padding-bottom: 6px;
  margin-bottom: 18px;
  margin-top: 38px;
  border-bottom: solid 4px rgb(244, 117, 33);
}

.spotlight-title{
  color: #FFFFFF;
  font-family: Lato;
  font-weight: 400;
  font-size: 32px;
  padding-bottom: 6px;
  margin-top: 38px;
  border-bottom: solid 4px rgb(42, 189, 187);
  margin-bottom: 18px;
}

.latest-content{
  background-color: #2b2d32;
  padding: 0px 12px 0px 12px;
}

.hyperlink{
  text-decoration: none;
}

.latest-element{
  padding: 16px 0px 16px 0px;
  border-bottom: 1px solid #4a4e58;
}

.element-img{
  width: 100%;
  margin-bottom: 18px;
}

.element-tags-date{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.element-tags{
  background-color: black;
  color: #2ABDBB;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  padding: 1.5px 18px 1.5px 18px;
  border-radius: 9px;
  text-align: center;
  line-height: 18.5px;
  margin-right: 7px;
  margin-bottom: 3px;
}

.element-tags-2{
  background-color: #2b2d32;
  color: #2ABDBB;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  padding: 1.5px 18px 1.5px 18px;
  border-radius: 9px;
  text-align: center;
  line-height: 18.5px;
  margin-right: 7px;
  margin-bottom: 3px;
  width: fit-content;
}

.element-tags:hover{
  background-color: #4a4e58;
  border: solid 1px #2ABDBB;
  padding: 0.5px 17px 0.5px 17px;
}

.element-tags-2:hover{
  background-color: black;
  border: solid 1px #2ABDBB;
  padding: 0.5px 17px 0.5px 17px;
}

.element-date{
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  color: #a0a0a0;
  padding-top: 11px;
}

.element-title{
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 13px;
  line-height: 20px;
  display: block;
}

.element-author{
  font-family: Lato;
  font-size: 12px;
  color: #2ABDBB;
  padding-top: 10px;
  cursor: pointer;
}

.element-author:hover{
  text-decoration: underline;
}

.features-content{
  padding: 0px 12px 0px 12px;
}

.top-element{
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #4a4e58;
}

.top-img-link{
  width: 42%;
  margin-right: 12px;
}

.top-img-link img{
  width: 100%;
}

.top-info{
  width: 58%;
}

.element-name{
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  padding-top: 9px;
  margin-right: 15px;
  line-height: 20px;
  cursor: pointer;
}