.section-sign{
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: black;
  color: white;
  font-family: Lato;
  font-weight: 700;
  font-size: 24px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #2abdbb;
  margin-left: 300px;
  margin-right: 300px;
}

.section{
  background-color: black;
  display: grid;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
  column-gap: 15px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
/*
@media(max-width: 1780px){
  .section{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1630px){
  .section{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1480px){
  .section{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1230px){
  .section{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 1080px){
  .section{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 750px){
  .section{
    grid-template-columns: 1fr 1fr;
  }
}


@media(max-width: 400px){
  .section{
    grid-template-columns: 1fr;
    align-items: center;
    ;
  }

  .selection{
    width: 330px;
  }
}

*/

.selection{
  background-color: black;
  transition: background-color 0.15s;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.selection:hover{
  background-color: rgb(20, 20, 20);

}

.selection-image-selected{
  width: 100%;
}

.selection-info{
  display: flex;
  flex-direction: column;
}

.selection-title{
  color: white;
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
  padding-top: 5px;
}

.selection-lang-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 5px;
}

.selection-lang{
  color: gray;
  font-family: Lato;
  font-size: 12px;
}

.selection-buttons{
  padding-right: 5px;
}

.selection-buttons-saved{
  padding: 0;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.selection-buttons-saved-img{
  height: 30px;
  width: 30px;
}